@font-face {
  font-family: "Mediasansextended";
  src: url("/fonts/mediasansextended-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #070707;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Mediasansextended, Arial, Helvetica, sans-serif;
}
